<div class="table-container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Usuario</th>
        <th scope="col">Estado</th>
        <th scope="col">Roles</th>
      </tr>
    </thead>
    <tbody>
      @for (item of users; track item.id) {
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.username}}</td>
          <td>
            @if (item.activo) {
              <span class="badge bg-success">Activo</span>
            } @else {
              <span class="badge bg-secondary">Inactivo</span>
            }
          </td>
          <td>
            @for (rol of item.roles; track rol) {
              <span class="badge bg-primary me-1">{{rol}}</span>
            }
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">
            <div class="d-flex justify-content-center align-items-center w-100">
              <p class="mb-0">No hay usuarios registrados</p>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>