<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img
              width="40"
              class="img-fluid mb-4"
              src="../../../../assets/icons/logo@2x.png"
              alt="Logo"
            />
          </a>
        </div>
        <div class="login-main">
          <form (ngSubmit)="handleSignup($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-3">
              <h4>Crear cuenta</h4>
              <small style="color: #4f4f4f">
                Ingrese un usuario y una contraseña
              </small>
            </div>

            <div class="form-group mb-3">
              <label for="username" class="form-label mb-2">Usuario</label>
              <input #username="ngModel" type="text" class="form-control" id="username" name="username"
                placeholder="gabriel" [(ngModel)]="signupForm.username" minlength="4" [ngClass]="{
                  'is-invalid': username.invalid && username.touched,
                  'is-valid': username.valid && username.touched
                }" required />
              <div *ngIf="username.invalid" class="invalid-feedback">
                El usuario debe tener al menos 4 caracteres
              </div>
            </div>

            <div class="form-group mb-5">
              <label for="password" class="form-label mb-2">Contraseña</label>
              <div class="form-input position-relative">
                <input #password="ngModel" type="password" class="form-control" id="password" name="password"
                  placeholder="*****" [(ngModel)]="signupForm.password" minlength="6" [ngClass]="{
                    'is-invalid': password.invalid && password.touched,
                    'is-valid': password.valid && password.touched
                  }" required />
                <div *ngIf="password.invalid" class="invalid-feedback">
                  La contraseña debe tener al menos 6 caracteres
                </div>
              </div>
            </div>

            <div class="form-group mb-0">
              <button class="btn btn-primary btn-block w-100" type="submit">
                Registrarse
              </button>
              @if(signUpError) {
                <p class="text-danger">{{signUpError}}</p>
              } @else if (validSignup) {
                <p class="text-success">Usuario registrado. Ya puede iniciar sesión.</p>
              }
            </div>
            <a href="/login">Volver a iniciar sesión</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>