<form [formGroup]="categoriaForm" class="row">
  <div>
    <h2 class="mb-3">
      {{ categoriaForm.controls['id'].value ? 'Editar categoría' : 'Nueva categoría' }}
    </h2>
  </div>

  <div class="mb-2">
    <label class="mb-1" for="nombre">Nombre*</label>
    <input id="nombre" formControlName="nombre" type="text" class="form-control">
    @if (categoriaForm.controls['nombre'].invalid && (categoriaForm.controls['nombre'].dirty || categoriaForm.controls['nombre'].touched)) {
      <p class="text-danger my-1">El nombre es obligatorio y no puede pasar de 100 caracteres</p>
    }
  </div>

  <div class="mb-2">
    <label class="mb-1" for="descripcion">Descripción*</label>
    <textarea id="descripcion" formControlName="descripcion" rows="3" class="form-control"></textarea>
    @if (categoriaForm.controls['descripcion'].invalid && (categoriaForm.controls['descripcion'].dirty || categoriaForm.controls['descripcion'].touched)) {
      <p class="text-danger my-1">La descripción es obligatoria y no puede pasar de 500 caracteres</p>
    }
  </div>

  <div class="d-flex justify-content-end mt-3">
    <button (click)="callSave()" [disabled]="categoriaForm.invalid" class="btn btn-primary" type="button">
      {{ categoriaForm.controls['id'].value ? 'Actualizar' : 'Guardar' }}
    </button>
  </div>
</form>